body {
  margin: 0;
  padding: 0;
}

.app-background {
  background-image: url("../public/pexels-life-of-pix-8892.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quote-box {
  background: rgb(154, 140, 140);
  padding: 20px;
  color: #ffffff;
  width: 400px;
}
